<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>upload_audio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B2198921FF50476003F6C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2198A61FF5047B003F6C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B2198B11FF5047C003F6C1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
